# TZ=UTC

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

# Mongodb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

# Mysql
MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=admin
MYSQL_USER=admin
MYSQL_PASSWORD=admin

# Postgresql
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin

# Pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Opensearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=admin

# Nats jetstream
NATS_USER=admin
NATS_PASSWORD=password

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin