# TZ=UTC

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin

MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=admin
MYSQL_USER=admin
MYSQL_PASSWORD=admin

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin